*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}
:root{
    --text-color:#fff;
    --bg-color:#000;
    --main-color:#61A784;

    --h1-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}
body{
   color: var(--text-color);
   background: var(--bg-color);
}



header{
    width:100%;
    height: 80px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    z-index: 99;
    /* box-shadow: 0 0 10px #000;
     background: rgba(0,0,0,0.5);  */
}
#chk1{
    display: none;
}
i{
    color: #fff;
    cursor: pointer;
}

section{
    margin-top: 100px;
}

header .logo img{
 width: 160px;
 height: 80px;
}

header ul {

    display: flex;
    justify-content: space-evenly;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color:#fff;
    padding: 10px 15px;
}
header ul li a:hover{
    border-bottom: 2px solid cadetblue;
}
header .menu{
    font-size: 2.5em;
    display: none;
}

header .logotipo ul{

    display: flex;
    justify-content: space-evenly;
}

header .logotipo ul li{
    list-style: none;
}


@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
    .header-nav{
    box-shadow: 0 0 10px #000;
     background: rgba(0,0,0,0.5);
     height: 98px;
    }

    header ul{
        position: fixed;
        top:100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width:100%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }


    header .menu{
        display: block;
        width:100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
    }

}

/*css slider*/

.slider{
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.slider ul{
    display: flex;
    padding: 0;
    animation:cambio 10s infinite alternate;
    width: 400%;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 100vh;
}

@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left:-100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}

}

/* Marcas */

/* seccion de las marcas */
.container-marcas{
    width: 100%;
    display: grid;
    justify-content: center;
}

  .container-marcas .img_container {
    width: 100%;
    min-width: 350px;
    height: 620px;
    margin-bottom: 20px;
}

@media(max-width:1100px){
    .container-marcas .main_img {
        width: 700px;
    }
}


.container-marcas .img_container .main_img {
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
    object-fit: cover;
    z-index: 1;
}

.container-marcas .thumbnail_container {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.container-marcas .thumbnail_container .thumbnail {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    opacity: .7;
    transition: .3s;
}

.ccontainer-marcas .thumbnail_container .thumbnail:hover {
    opacity: 1;
}

.active {
    opacity:  1 !important;
    box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
}

/*css slider*/

 .home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-position: bottom center;
    display: flex;
    align-items:center;
    justify-content:flex-start;
    z-index: 2;
    padding-left: 50px;
 }

.home-text h5{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: var(--main-color);
}
.home-text h1{
    font-size: var(--h1-font);
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 20px;
}
.home-text p{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 30px;
    color: #ffffffab;
    margin-bottom: 35px;
}
.btn{
    display: inline-block;
    padding: 13px 40px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size:15px;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all .50s ease;
    cursor: pointer;


}
.btn:hover{
    transform: translateX(10px);
    border: 2px solid var(--text-color);
    background: transparent;
    color: var(--text-color);
}
header.sticky{
    padding: 8px 17%;
    background: transparent;
    backdrop-filter: blur(35px);
}

.Section-holiday{
    display: grid;
    justify-content: center;
    justify-items: center;
}

.holiday{
    display: grid;
    justify-content: center;
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;

}
.holiday-img img{
    width: 100%;
    height:auto;
    border-radius: 10px;
}
.holiday-text h5{
    font-size: 22px;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
}
.holiday-text h2{
   font-size: var(--h2-font);
   font-weight: 500;
   line-height: 1.2;
   margin-bottom: 25px;
}
.holiday-text p{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 30px;
    color: #ffffffab;
    margin-bottom: 35px;
}
.center-text{
    text-align: center;
}
.center-text h2{
    font-size: var(--h2-font); /*cambiar*/
    font-weight: 800;
    margin-bottom: 30px;
}
.tour-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 3rem;
    margin-top: 5rem ;
}
.box{
    position:relative ;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(70%);
    transition: all .3s cubic-bezier(0.499, 0.05, .55, .95);
    will-change: filter;
    display: block;
}
.box h6{
     position: absolute;
     left: 150px;
     bottom: 10px;
     font-size: 18px;
     font-weight: 500;
}
.box h4{
     position: absolute;
     left: 25px;
     bottom: 695px;
     font-size: 20px;
     font-weight: 700;
}
.box img:hover{
    filter: brightness(90%) hue-rotate(50 deg);
    transform: scale(1.04);
    cursor: pointer;
}
.center-btn{
    text-align: center;
    margin-top: 4rem;
}

.Section-Culture{
    display: grid;
    justify-content: center;
    justify-items: center;
}

.culture{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;
}

.culture-img img{
    width: 100%;
    height:auto ;
    border-radius: 10px;
}
.culture-text h5{
    font-size: 22px;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
}
.culture-text h2{
   font-size: var(--h2-font);
   font-weight: 500;
   line-height: 1.2;
   margin-bottom: 25px;
}
.culture-text p{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 30px;
    color: #ffffffab;
    margin-bottom: 35px;
}
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
}
.footer-box{
    display: flex;
    flex-direction: column;
}
.footer-box h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.footer-box a{
    color: #979797;
    margin-bottom: 0.8rem;
    transition: all .50s ease;
}
.footer-box a:hover{
    transform: translateX (-5px);
    color: var(--text-color);
}
.social a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background: #202020;
    color: var(--text-color);
    font-size: 20px;
    border-radius: 50%;
    margin-right: 8px;
    transition: transform 0.6;
}
.social a:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transform: translateX(-4px);
}
@media(max-width: 1700px){
    header{
        padding: 18px 8%;
    }
    header.sticky{
        padding: 7px 8%;
    }
}
@media(max-width: 1200px){
    header{
        padding: 14px 5%;
    }
    header.sticky{
        padding: 7px 5%;
    }
    :root{
        --h1-font:4.6rem;
        --h2-font:2.8rem;
        --p-font:15px;
    }
    .home{
        height: 90vh;
    }
}
@media(max-width:1050px){
    .feature-content{
        gap: 1.5rem;
    }
    .holiday{
        gap: 3rem;
    }
    .culture{
        gap: 3rem;
    }
     #menu-icon{
         display: block;
     }
}
@media(max-width:800px){
    .holiday{
        grid-template-columns: 1fr;
    }
    .culture{
        grid-template-columns: 1fr;
    }
}
@media(max-width:600px){
    :root{
        --h1-font:3.5rem;
        --h2-font:2.1rem;

    }
}

/* carrusel */
.tour{
    display: grid;
    justify-content: center;
    justify-items: center;
}

.container {
    width: 1200px;
    width: 100%;
  }

@media(max-width:1300px){
  .container {
    width: 800px;
  }
}


  .slider-wrapper {
    position: relative;
  }
  .slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  .slider-wrapper .slide-button:hover {
    background: #404040;
  }
  .slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
  }
  .slider-wrapper .slide-button#next-slide {
    right: -25px;
  }
  .slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
  }
  .slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  }
  .slider-wrapper .image-list .image-item {
    width: 325px;
    height: 450px;
    object-fit: cover;
  }
  .container .slider-scrollbar {
    height: 25px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .slider-scrollbar .scrollbar-track {
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }
  .slider-scrollbar:hover .scrollbar-track {
    height: 4px;
  }
  .slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: white;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
  }
  .slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
  }
  .slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
  }
  /* responsive */
  @media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
      display: none;
    }
    .slider-wrapper .image-list {
      gap: 10px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
    }
    .slider-wrapper .image-list .image-item {
      width: 280px;
      height: 380px;
    }
    .slider-scrollbar .scrollbar-thumb {
      width: 20%;
    }
  }

  /* Footer */


.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
/* footer */
footer{
  margin-top: 100px;
  bottom: 0px;
  width: 100%;
  background: var(--bg-color);
}
.main-content{
  display: flex;
  margin-left: 20px;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: var(--main-color);
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: var(--main-color);
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
}

@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}


/*****Eliminar border por defecto de un botton */
input{
  border: none;
  outline: none;
  }
textarea{
outline: none;
outline:none;
}

.container {
  max-width: 1200px;
  width: 95%;
}
.slider-wrapper {
  position: relative;
}
.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}
.slider-wrapper .slide-button:hover {
  background: #404040;
}
.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}
.slider-wrapper .slide-button#next-slide {
  right: -25px;
}
.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}
.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}
.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 450px;
  object-fit: cover;
}
.container .slider-scrollbar {
  height: 25px;
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-scrollbar .scrollbar-track {
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}
.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: white ;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}
.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
/* responsive */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }
  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }
  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}

.panel{
  display: none;
  overflow: hidden;
}